.App {
  font-family: sans-serif;
  text-align: center;
}

.bordered {
  border: 3px solid red;
  margin: 8px;
  user-select: none;
  width: 150px;
}

.bordered:hover {
  background-color: skyblue;
  color: brown;
  cursor: pointer;
}

.bordered:hover:active {
  background-color: orange;
  color: blue;
}
